__pycache__/
*.py[cod]
*.log

.vscode/

assets/*
!assets/README.md
videos/
vedios/
MS-ASL/
asl_dataset/
asl_alphabet_test/
sign_landmarks/

dataset.csv
columns.pkl
sign_model.pkl

generated_sign_video.mp4
text_to_sign_test.mp4
*.pptx
